{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blogapp.css' %}">
    <title>Ahmet'in blogu</title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
            <h1><a href="/">Ahmet'in blogu</a></h1>
        </div>
        <div>
            <p>yayın tarihi: 06.03.2018, 10:30</p>
            <h2><a href="">İlk Gönderim</a></h2>
            <p>yes! </p>
        </div>

        <div>
            <p>published: 06.03.2018, 10:30</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Bir varmış bir yokmuş, evvel zaman içinde Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. LOVE Y'ALL</p>
        </div>


    <div class="post">
        <p>Yayın tarihi: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>


    <div class="content container">
    <div class="row">
        <div class="col-md-8">

                <div class="post">
                    <div class="date">
                        <p>Yayın tarihi: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>

        </div>
    </div>
</div>


</body>
</html>
